---
import Layout from '@layouts/Layout.astro'
import ProjectsListLight from '@components/projectsList/projectsListLight.astro'
import PostsListLight from '@components/postsList/postsListLight.astro'
import Link from '@components/contactLink.astro'
const classList = [
  'opacity-0',
  'animate-slideUp',
  'animate-fill-both',
  'font-sans',
  'font-medium',
  'mt-8',
];
---

<Layout title="beanBag">
  <article class="prose">
    <section class:list={['animate-delay-50 ', classList]}>
      <p class="font-bold font-serif text-xl">beanBag</p>
    </section>
    <section class:list={['animate-delay-150', classList]}>
      <p>
        Hey! i'm beanBag(豆包), 一个普通的前端工程师,
        愿
        <span class="font-serif italic decoration-none">{new Date().getFullYear()} </span>
        年一切都好.✨
      </p>
    </section>
    <section class:list={['animate-delay-300', classList]}>
      <ProjectsListLight />
    </section>
    <section class:list={['animate-delay-450', classList]}>
      <PostsListLight />
    </section>
    <section class:list={['animate-delay-600', classList]}>
      <p id="blockTitle">Now</p>
      <p>
        嗨! 我是beanBag, 螺丝钉一枚, 爱看蜡笔小新的前端工程师, 目前在深圳,
        这里不定期更新一些生活和工作上的事。
      </p>
    </section>
    <section class:list={['animate-delay-750', classList]}>
      <Link />
    </section>
  </article>
</Layout>

<style is:global>
  article a {
    @apply linkBase;
  }
  #blockTitle {
    @apply md:text-base font-extrabold italic;
  }
  #blockTitle::before {
    content: ":: ";
  }
</style>
